<%-include("partials/header")%>

<div class="row">
  <div class="col-lg-8">
    <h3><%=desc%></h3>
    <h4><%=point1%></h4>
    <h4><%=point2%></h4>
    <h4><%=point3%></h4>
    <h4><%=point4%></h4>
    <h4><a href='<%=link1%>'><%=link_desc1%></a></h4>
    <h4><a href='<%=link2%>'><%=link_desc2%></a></h4>
    <h4><a href='<%=link3%>'><%=link_desc3%></a></h4>
  </div>
  <div class="col-lg-4">
    <img class = "image" src="/images/<%=pic%>" alt="">
  </div>
</div>

<%-include("partials/footer")%>
